html{width:100%;height:100%;}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, blockquote, th, td, p, img{margin:0;padding:0;border:0;}
body{color:#333;font-family:simsun,Arial; width:100%; margin:0 auto;font-size:12px; text-align:left;position: relative;padding-bottom: 150px;}
table {border-collapse:collapse;border-spacing:0;}
img {border:0;}
.pfdd{padding-bottom: 100px;}
div:after, ul:after, li:after,dl:after{clear: both;content: " ";display: block;font-size: 0;height: 0;visibility: hidden;*zoom:1;}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
.clear{clear:both; font-size:0; height:0;visibility:hidden;overflow:hidden;*zoom:1;}
a{color:#4e4e4e;}
a:link,a:visited{color:#4e4e4e; text-decoration:none;}
a:hover{ color:#cc0000;}
h1{font-size:16px; font-weight:bold;}
h2,h3,h4,h5{font-size:14px;font-weight:bold;}
hr{ padding:0; border:0; margin:0; height:0; background:none; display:block;*margin: -7px 0 -9px;}
h6{ text-align:center;font-weight:bold;}
.gray,.gray a:link,.gray a:visited{color:#666;}
.gray a:hover{color:#cc0000;}
.red,.red a,.red a:link,.red a:visited,.red a:hover{color:#cc0000;}
.white,.white a,.white a:link,.white a:visited,.white a:hover{color:#fff;}
a:link,a:visited{color:#000;}
a:hover{color:#cc0000;text-decoration:underline;}
.nav_index li:after{clear:none;}
.g-topbar-loginbar,.g-topbar-logininfo:after{clear:none;display:inline;}
.fl{float: left; display: inline;}
.fr{float: right;display:inline;}
/*live*/
body{background:#ffffff;color: #666;padding-bottom: 0;}
#g-topbar .g-topbar-nav a{margin: 0 10px;}
#g-topbar .g-topbar-nav a:hover,#g-topbar .g-topbar-loginbar a:hover{color: #c00;}
#g-topbar .redbg a:hover{color: #fff;}
.g-wrap{width:1000px;}
.main-wrapper{width:1000px;margin-left: auto;margin-right: auto;}
.ofweek-index{ float: left; padding-left: 25px; margin-left: 0 !important; background: url(../img/icon_home.png) left 6px no-repeat; }
#live-pos{height: 50px; line-height: 50px;color: #9e9e9e;background: #fff;}
#live-pos .main-wrapper{position: relative;}
#live-pos p{position: absolute;right: 0;top:0}
#live-pos h1{font:20px/50px "microsoft yahei";color:#c00;}
#live-pos a,#live-pos p span{color:#666;}
#live-pos a:hover{color:#c00;}
#live-pos p a{margin-right: 8px;}
#live-pos p span{margin-left: 8px;}

.main_box{ background:#f5f5f5; padding-top:30px; padding-bottom:69px;}
.main_box .main_left{width:730px;}
.main_box .main_right{width:250px;}
.pub_con_box{ background:#fff; border:1px solid #dcdcdc; position:relative;}
.mt33{margin-top:33px;}
.mt13{margin-top:13px;}
.pub_con_box .bar{width:2px; height:22px; background:#2581e5; position:absolute;left:-1px; top:13px;}
.live_list dl{ padding:20px 18px 20px 20px;background: #fff; margin-bottom: 15px; vertical-align: top;*zoom:1;}
.live_list dl dt{ position:relative;width:262px; height:173px;text-align: center;}
.live_list dl dt img{max-width: 262px;max-height: 173px; vertical-align: middle;}
.live_list dl dt i{ display: inline-block; vertical-align:middle; height: 100%;}
.live_list dl dt span{position: absolute;left:20px;top:-10px;width:65px; height: 20px;text-align: center;font:14px/20px "microsoft yahei";color:#fff;border-radius: 8px 0 8px 0;}

.login_img{margin: 9px 0 0 10px;}
.ing{background: #c60000;}
.coming{background: #fd9800;}
.end{background: #646464;}


.live_list dt .bg{width:262px; height:40px; position:absolute;left:0;bottom:0; background:#000; opacity:0.45; filter:alpha(opacity=45);}
.live_list dt .date_box{color:#fff; font-family:Microsoft Yahei;font-size:14px; position:absolute;left:0;bottom:0; height:40px; line-height:40px; text-align:center;width:262px; letter-spacing:1px;}
.live_list dt .date_box span{ font-size:20px;}
.live_list dd{width:402px; margin-top:-5px;position: relative;}
.live_list dd h3{font-family:Microsoft Yahei;font-size:20px;line-height: 24px; color:#333; font-weight:normal;margin-bottom:14px;}
.live_list dd h3 span{color:#c00;}
.upcoming dd h3{margin-bottom:10px;}
.live_list dd p{font-size:12px;color:#666; line-height:20px;margin-top:7px;}
.live_list dd p a{color:#ce0808;}
.live_list dd p a:hover{color:#f04848;}
.live_list dd strong{ float: left; background:url(../img/ico_rclock.gif) left center no-repeat; line-height:22px; font-size:12px;color:#c60000; font-weight:normal; padding-left:20px;}
.live_list dd .timeshare{overflow: hidden;}
.liveshare{padding-right: 7px;}

.live_list .opera{margin-top: 16px;}
.live_list .opera a{ float:right; display:inline;margin-right:10px;width: 100px; height:33px; line-height:33px;text-align:center; border-radius:4px; font-family:Simsun;font-size:15px; font-weight:bold;color:#fff;}
.live_list .opera .red_btn{background:#cd0100;}
.live_list .opera .grey_btn{background:#646464;}

.live-hotline dt{background:#cd0100;padding: 0 23px 0 24px;height: 40px;text-align: center;}
.live-hotline dt .title-bg{background:url(../img/title_line.gif) center center repeat-x;}
.live-hotline dt h2{background:#cd0100;font:bold 16px/40px "microsoft yahei";color:#fff; display: inline-block;*display: inline;*zoom:1; padding: 0 9px;}
.live-hotline dd{background: #fff;padding: 25px 0 46px 12px;}
.live-hotline dd p{font-size: 12px;color:#555; font-weight: bold; background: url(../img/ico_concact.gif) 0 0 no-repeat;padding-left: 28px;line-height: 32px;}
.live-hotline dd .live-email{line-height: 16px;margin-bottom: 15px;}
.live-hotline dd .live-phone{background-position: 0 -29px;line-height: 17px;}

.sharelink{width: 55px; height: 22px; display: block; background: url(../img/share.png) 0 0 no-repeat !important;color: #7e7e7e;line-height: 22px;text-indent: 25px;}
.sharelink:hover,.sharelink.active{background-position: 0 -22px !important;color: #fff;text-decoration:none;}

.banner
{
	position: relative;
	border-bottom: solid 1px #ce0808;
}
.banner,.banner_list,.banner_list li,.banner_list li img
{
	margin: 0 auto;
	width: 1000px;
	height: 260px;
}
.banner_list li
{
	position:absolute;
	top:0;
	left:0;
	background-position:center top;
	background-repeat:no-repeat;
}
.banner_list li a
{
	display: block;
	width: 100%;
	height: 100%;
}
.banner .dot_list
{
	position:absolute;
	left:0;
	bottom:20px;
	width: 100%;
	text-align: center;
}
.banner .dot_list li
{
	width:15px;
	height:15px;
	background:url(../img/b_ico.png) no-repeat center top;
	display: inline-block;
	*display:inline;
	*zoom:1;
	margin:0 8px;
	cursor:pointer;
}
.banner .dot_list li.active
{
	width:50px;
	background:url(../img/b_ico_hov.png) no-repeat center top;
}

#footer{background: #d8d8dc;padding: 44px 0 69px;}
#footer p{line-height: 22px;}
.fix{position: fixed;left:50%;margin-left:250px;top:0;}

.more{width:100%; height:40px; display:block;margin-bottom:80px; line-height:40px; text-align:center;background:#fff url(../img/more_down.png) 382px center no-repeat;font-size: 14px;color: #000; }
.more.loading span { display: inline-block; padding-left: 30px; background: #fff url(../img/loading.gif) 0 50% no-repeat; }

/*ended live*/
.end-hd{height: 27px;line-height: 27px;margin-bottom: 13px;}
.end-hd h2{font:18px/27px microsoft Yahei;color:#666;border-right: 1px solid #b5b5b5;padding-right: 10px;float: left;margin-right: 4px;}
.end-hd h3{float: left;font-weight: normal;}
.end-hd h3 a{color:#6699ff;font-family:microsoft Yahei;font-size: 12px;margin:0 3px;}
.end-hd h3 a:hover{color:#f04848;}


input{outline: none;}
/*header*/
#g-topbar{ height: auto; background: #f6f6f6; border: 0;}
.login_header{height: 88px;background: #ffffff;}
.wrapper{width: 1000px;margin: 0 auto;}
.login_fuild{height: 520px;background: url(../img/loginBg.jpg) no-repeat center bottom;}

.login_content h2{color: #000000;font-size: 18px;font-weight: normal;font-family: "Microsoft Yahei";text-align: center;margin-bottom: 20px;}
.error_t{color: #CC0000;background: url(../img/notive.png) no-repeat left center;padding-left: 20px;height: 20px;line-height: 20px;font-family: Simsun;margin-bottom: 5px;display: none;}
.login_content{float: right;background: #fff;padding: 30px 60px 0 50px;width: 350px;margin-top: 50px; box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);}
.login_footer{background: #fff3c3;color: #116eb3;font-family: Simsun;margin-left: -50px;width: 360px;padding: 8px 50px;}
.login_footer p{line-height: 20px;}
.input_group{margin-bottom: 14px;}
.input_group input{height: 34px;border: 1px solid #cccccc;padding: 0 10px;width: 318px;}

.input_radio{font-family: Simsun;margin-top: 30px;}
.input_radio span{float: left;color: #a3a3a3;margin: 0 30px 0 10px;}
.input_radio input{float: left;margin-top:1px;margin-right: 3px;color: #cc0000;}
.input_radio label{float: left;color: #333333;margin-right: 10px;}
.clearfix:after{clear: both;content: '';display: block;height: 0;}
.loginBtn{width: 100%;height: 40px;background: #0560a7;color: #fff;font-size: 18px;font-weight: bold;border: none;outline: none;margin: 30px 0 36px 0;font-family: Microsoft Yahei;border-radius: 8px;cursor: pointer;}
.loginBtn:hover{background: #1573bc;}

.footer_main{width: 100%;font: normal 12px/18px "SimSun";color: #737373;background: #ffffff;}
.footer_main .wrapper{padding: 45px 0;text-align: center;}
.footer_logo{ margin-right: 45px; }
.about_us{display: inline-block;*display: inline;*zoom: 1;margin-right: 85px;text-align: center;}
.about_us a:link,.about_us a:visited{color: #737373;text-decoration: none;}
.about_us a:hover{color: #cc0000;text-decoration: underline;}
.pass_content input{height: 34px;border: 1px solid #cccccc;width: 80px;padding: 0 10px;float: left;}
.pass_content img{height: 36px;vertical-align: middle;float: left;margin-left: 10px;}
.pass_content{line-height: 36px;}
.pass_content a{margin-left: 12px;color: #99ceff;}
input.errorp{border:1px solid red;}
p.errorp{color: #CC0000;font-family: Simsun;margin-top: 5px;display: none;}
/*footer*/
.footer{width:100%;border-top:solid 1px #ddd;min-width:1000px;font-size:12px;font-family: Simsun;}
.footer .foot{position:relative;width: 1000px;padding: 0;margin: 0 auto; text-align: center;}
.footer-links{ float: left; padding: 26px 0 0 0; line-height: 24px; }
.copyright{ float: left; padding: 26px 120px 26px 50px; line-height: 24px; color: #666; background: url("http://live.ofweek.com/static/web/img/110.gif") right center no-repeat; }
.footer .foot p{ margin-left: 0; }
.pad15{padding-top: 15px;}
.foot-wrap{ display: inline-block; *display: inline; *zoom: 1; }
/*404*/
.error_content{text-align: center;}
.error_content p{color: #cd4444;font-size: 16px;margin: 36px 0 65px 0;}
.error_content a{font-size: 14px;font-family: Simsun;color: #007ae1;text-decoration: none;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;}
.goback{background: url(../img/goback.png) no-repeat left center;padding-left: 15px;}
.back{background: url(../img/back.png) no-repeat left center;padding-left: 18px;}

.pb250{padding-bottom: 250px;}

.login_header{height: 88px;border-bottom: 2px solid #0560a7;}
.wrapper{width: 1000px;margin: 0 auto;}
.login_header .wrapper{border:0;height: 88px;}
.logo_wrap{ padding: 20px 0 0; }

.ml20{margin-left: 20px;}
.login_header img.fl{margin-top: 6px;margin-left: 15px;}
.wrapper{width: 1000px;margin: 0 auto;}

.zhinan_content h3{font-size: 14px;font-weight: bold;color: #666666;font-family: Simsun;padding-top: 36px;}
.one_zhinan{width: 240px;padding:10px 30px;line-height: 26px;background: #f1f1f1;}
.one_zhinan span{color: #005eae}
.mtb12{margin: 14px 0;}
.zn_tb{line-height: 36px;text-align: center;margin-top: 20px;border-left: 1px solid #f1f1f1;}
.zn_tb th{background: #f1f1f1;border-right:1px solid #f1f1f1;}
.zn_tb .ml27{margin-left: 27px;text-align: left;}
.lh22{line-height: 22px;padding: 5px 0}
.zn_tb td{border-right:1px solid #f1f1f1;border-bottom: 1px solid #f1f1f1;}
.mt100{margin-bottom: 100px;}

.bgfff{background: #ffffff;}

/* contact-us */
.contact-us-content{ height: 500px; }
.contact-us-title{ font: normal 18px/80px "Microsoft Yahei"; }
.contact-way{ width: 495px; height: 180px; }
.contact-refer{ background: url(../img/contact_us1.jpg) center no-repeat; }
.contact-service{ background: url(../img/contact_us2.jpg) center no-repeat; }
.contact-dl{ padding: 45px 0 0 190px; font: normal 14px/24px "SimSun"; color: #333; }
.contact-dl dt{ margin-bottom: 5px; font: normal 16px/24px "Microsoft Yahei"; }

a.red:link, a.red:visited{color: #cc0000; text-decoration: none;} a.red:hover{color: #cc0000; text-decoration: underline;}
/*2016-12-9*/
.live-nav{height: 30px;margin-top: 16px;float: left;}
.live-nav li{float: left;border-right: 1px solid #e3e3e3;position: relative;padding:0 28px;cursor:pointer;z-index: 999;}
.live-nav li.last{border-right: none;}
.live-nav li h3{font:18px/30px microsoft Yahei;color:#666;}
.live-nav li h3 a{color:#666;}
.live-nav li h3 a:hover{color:#c00 !important;}
.live-sub-nav{width:111px;position: absolute;top: 30px;left:8px;z-index: 999;display:none;}
.live-sub-nav a{display:block;height: 29px;line-height: 29px;background: #fff;text-align: center;color:#333;
	font:16px/29px microsoft Yahei;}
.live-sub-nav a:hover{background: #cb0101;color:#fff !important;text-decoration: none !important;}


/*分页*/
.laypage_main a,.laypage_main input,.laypage_main span {
	height: 26px;
	line-height: 26px
}

.laypage_main button,.laypage_main input,.laypageskin_default a {
	border: 1px solid #ccc;
	background-color: #fff
}

.laypage_main {
	font-size: 0;
	clear: both;
	color: #666;
	text-align: center;
}

.laypage_main * {
	display: inline-block;
	vertical-align: top;
	font-size: 12px
}

.laypage_main a {
	text-decoration: none;
	color: #666
}

.laypage_main a,.laypage_main span {
	margin: 0 3px 6px;
	padding: 0 10px
}

.laypage_main input {
	width: 40px;
	margin: 0 5px;
	padding: 0 5px
}

.laypage_main button {
	height: 28px;
	line-height: 28px;
	margin-left: 5px;
	padding: 0 10px;
	color: #666
}

.laypageskin_default span {
	height: 28px;
	line-height: 28px;
	color: #999
}

.laypageskin_default .laypage_curr {
	font-weight: 700;
	color: #666
}

.laypageskin_molv a,.laypageskin_molv span {
	padding: 0 12px;
	border-radius: 2px
}

.laypageskin_molv a {
	background-color: #fff;
}

.laypageskin_molv .laypage_curr {
	background-color: #00AA91;
	color: #fff
}

.laypageskin_molv input {
	height: 24px;
	line-height: 24px
}

.laypageskin_molv button {
	height: 26px;
	line-height: 26px
}

.laypageskin_yahei {
	color: #333
}

.laypageskin_yahei a,.laypageskin_yahei span {
	padding: 0 13px;
	border-radius: 2px;
	color: #333
}

.laypageskin_yahei .laypage_curr {
	background-color: #333;
	color: #fff
}

.laypageskin_flow {
	text-align: center
}

.laypageskin_flow .page_nomore {
	color: #999
}
